*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.phone{
    width: 100vw;
    height: 100vh;
    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 75px;
        border: 1px black solid;
        background-color: white;
    }
    .stories{
        width: 100vw;
        height: 90px;
        border: 1px black solid;
        margin-top: 75px;
        padding-top: 5px;
        p{
            margin-left: 5px;
        }
        .photoArea{
            margin: auto;
            width: 90vw;
            height: 55px;
            background-color: aqua;
            display: flex;
            justify-content: start;
            align-items: center;
            overflow-y: hidden;
            overflow-x: scroll;
            .photo{
                margin: 5px;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                background-color: yellow;
            }
        }
    }
    .post{
        width: 95vw;
        height: 300px;
        border: 1px black solid;
        border-radius: 15px;
        margin: 20px auto;
        &:nth-child(1){
            background-color: aqua;
        }
    }
    .space{
        height: 70pxfr;
    }
    
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 70px;
    border: 1px black solid;
    z-index: 1300;
    background-color: white;
}