@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Anek Tamil', sans-serif;
}
.phone{
    width: 100vw;
    height: 100vh;
    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 75px;
        z-index: 1300;
        background-color: white;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .chatArea{
            height: 50px;
            position: relative;
            display: flex;
            justify-content: start;
            align-items: center;
            .headerPhoto{
                position: absolute;
                left: 5px;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background-color: #476bb3;
                margin-right: 10px;
            }
            i{
                color: #476bb3;
                margin-right: 50px;
            }
            .point{
                position: relative;
                &::before{
                    content: " ";
                    border: 5px red solid;
                    border-radius: 5px;
                    position: absolute;
                    left: 17px;
                }
            }
            .fa-comment{
                font-size: 1.5rem;        
            }
           
        }
        .postSearchArea{
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                color: #476bb3;
            }
            .newPost{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 30px;
                background-color: #476bb3;
                border-radius: 15px;
                color: white;
                padding-left: 7px;
                margin-right: 20px;
                span{
                    font-size: 14px;
                }
                .postBtn{
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    background-color: white;
                    margin-left: 10px;
                    i{
                        color: #2a71ff;
                        font-size: 7px;
                        display: flex;
                        justify-content: center;
                        margin-top: 4px;
                    }
                }
            }
        }
    }
    .stories{
        width: 100vw;
        height: 120px;
        margin-top: 75px;
        padding-top: 5px;
        padding-left: 5px;
        .storiesTitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                &:first-child{
                    margin-left: 10px;
                    font-weight: 600;
                }
                &:last-child{
                    color: #476bb3;
                    font-weight: 600;
                    margin-right: 15px;
                }
            }
            i{  
                color: #476bb3;
                font-size: 10px;
            }
        }
        .photoArea{
            width: 95vw;
            height: 90px;
            display: flex;
            justify-content: start;
            align-items: flex-start;
            margin-top: 5px;
            overflow-y: hidden;
            overflow-x: scroll;
            .photo{
                position: relative;
                margin: 5px;
                min-width: 50px;
                height: 50px;
                border-radius: 25px;
                background-color: #476bb3;
                .photo2{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    background-color: wheat;
                    top:35px;
                    right: 0;
                }
                i{  
                    position: absolute;
                    top: 16px;
                    right: 18px;
                    color: white;
                }
                span{
                    display: flex;
                    justify-content: center;
                    margin-top: 55px;
                    font-size: 10px;
                }
            }
        }
    }
    .post{
        position: relative;
        width: 95vw;
        height: 300px;
        border: 1px solid #e8ecf5;
        border-radius: 15px;
        margin: 20px auto;
        .postTop{
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 7px;
            .postPhoto{
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background-color: #476bb3;
            }
            .postUser{
                margin-left: 10px;
                margin-top: 5px;
                p{
                    font-weight: 600;
                }
                span{
                    font-weight: 50;
                    color: rgb(165, 163, 163);
                    i{  
                        cursor: pointer;
                        font-size: 10px;
                        color: #2a71ff;
                    }
                }
            }
            .fa-ellipsis{
                position: absolute;
                top:10px;
                right: 15px;
            }
        }
        .postContent{
            margin: auto;
            width: 90vw;
            height: 140px;
            word-break: break-all;
            // border: 1px black solid;
            // display: flex;
            // justify-content: start;
            // flex-wrap: wrap;
            // pre{
            //     margin-top: 5px;
            //     margin-left: 5px;
            //     width: 87vw;
            //     height: 75px;
            //     // white-space:pre-wrap;
            //     // overflow-x:scroll;
            //     // overflow-y:hidden;
            // }
            .more{
                margin-left: 10px;
                span{
                    cursor: pointer;
                    color: gray;
                }
            }
        }
        .likeArea{
            display: flex;
            justify-content: space-between;
            width: 90vw;
            margin: auto;
            .like{
                margin-left: 5px;
                position: relative;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background-color: #2a71ff;
                padding-left: 9px;
                padding-top: 4px;
                span{
                    position: absolute;
                    margin: 0px;
                    top: 5px;
                    right: -15px;
                    color: black;
                }
                i{
                    font-size: 12px;
                    color: white;
                }
            }
            span{
                margin-top: 5px;
                margin-right: 10px;
                color: #2a71ff;
                font-weight: 700;
            }
        }
        hr{
            margin-top: 10px;
            border: #e2ebff 1px solid;
        }
        .shareArea{
            margin: 15px auto;
            width: 70vw;
            position: relative;
            display: flex;
            justify-content: space-between;
        }
    }
    .space{
        height: 70px;
    }
    
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 60px;
    box-shadow: 2px 3px 8px rgba(0,0,0,.5);
    z-index: 1300;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    #under{
        margin: 25px;
    }
    .feed{
        width: 90px;
        height: 40px;
        border-radius: 20px;
        background-color: #476bb3;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            color: white;
            margin-right: 10px;
        }
        span{
            color: white;
            font-size: 14px;
        }
    }
    i{
        color: #476bb3;
        font-size: large;
    }
}