@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Anek Tamil', sans-serif;
}

.phone {
  width: 100vw;
  height: 100vh;
}

.phone .header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 75px;
  z-index: 1300;
  background-color: white;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone .header .chatArea {
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone .header .chatArea .headerPhoto {
  position: absolute;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #476bb3;
  margin-right: 10px;
}

.phone .header .chatArea i {
  color: #476bb3;
  margin-right: 50px;
}

.phone .header .chatArea .point {
  position: relative;
}

.phone .header .chatArea .point::before {
  content: " ";
  border: 5px red solid;
  border-radius: 5px;
  position: absolute;
  left: 17px;
}

.phone .header .chatArea .fa-comment {
  font-size: 1.5rem;
}

.phone .header .postSearchArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone .header .postSearchArea i {
  color: #476bb3;
}

.phone .header .postSearchArea .newPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 30px;
  background-color: #476bb3;
  border-radius: 15px;
  color: white;
  padding-left: 7px;
  margin-right: 20px;
}

.phone .header .postSearchArea .newPost span {
  font-size: 14px;
}

.phone .header .postSearchArea .newPost .postBtn {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;
}

.phone .header .postSearchArea .newPost .postBtn i {
  color: #2a71ff;
  font-size: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4px;
}

.phone .stories {
  width: 100vw;
  height: 120px;
  margin-top: 75px;
  padding-top: 5px;
  padding-left: 5px;
}

.phone .stories .storiesTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone .stories .storiesTitle span:first-child {
  margin-left: 10px;
  font-weight: 600;
}

.phone .stories .storiesTitle span:last-child {
  color: #476bb3;
  font-weight: 600;
  margin-right: 15px;
}

.phone .stories .storiesTitle i {
  color: #476bb3;
  font-size: 10px;
}

.phone .stories .photoArea {
  width: 95vw;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 5px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.phone .stories .photoArea .photo {
  position: relative;
  margin: 5px;
  min-width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #476bb3;
}

.phone .stories .photoArea .photo .photo2 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: wheat;
  top: 35px;
  right: 0;
}

.phone .stories .photoArea .photo i {
  position: absolute;
  top: 16px;
  right: 18px;
  color: white;
}

.phone .stories .photoArea .photo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 55px;
  font-size: 10px;
}

.phone .post {
  position: relative;
  width: 95vw;
  height: 300px;
  border: 1px solid #e8ecf5;
  border-radius: 15px;
  margin: 20px auto;
}

.phone .post .postTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px;
}

.phone .post .postTop .postPhoto {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #476bb3;
}

.phone .post .postTop .postUser {
  margin-left: 10px;
  margin-top: 5px;
}

.phone .post .postTop .postUser p {
  font-weight: 600;
}

.phone .post .postTop .postUser span {
  font-weight: 50;
  color: #a5a3a3;
}

.phone .post .postTop .postUser span i {
  cursor: pointer;
  font-size: 10px;
  color: #2a71ff;
}

.phone .post .postTop .fa-ellipsis {
  position: absolute;
  top: 10px;
  right: 15px;
}

.phone .post .postContent {
  margin: auto;
  width: 90vw;
  height: 140px;
  word-break: break-all;
}

.phone .post .postContent .more {
  margin-left: 10px;
}

.phone .post .postContent .more span {
  cursor: pointer;
  color: gray;
}

.phone .post .likeArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90vw;
  margin: auto;
}

.phone .post .likeArea .like {
  margin-left: 5px;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #2a71ff;
  padding-left: 9px;
  padding-top: 4px;
}

.phone .post .likeArea .like span {
  position: absolute;
  margin: 0px;
  top: 5px;
  right: -15px;
  color: black;
}

.phone .post .likeArea .like i {
  font-size: 12px;
  color: white;
}

.phone .post .likeArea span {
  margin-top: 5px;
  margin-right: 10px;
  color: #2a71ff;
  font-weight: 700;
}

.phone .post hr {
  margin-top: 10px;
  border: #e2ebff 1px solid;
}

.phone .post .shareArea {
  margin: 15px auto;
  width: 70vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phone .space {
  height: 70px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 60px;
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
  z-index: 1300;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer #under {
  margin: 25px;
}

.footer .feed {
  width: 90px;
  height: 40px;
  border-radius: 20px;
  background-color: #476bb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .feed i {
  color: white;
  margin-right: 10px;
}

.footer .feed span {
  color: white;
  font-size: 14px;
}

.footer i {
  color: #476bb3;
  font-size: large;
}
/*# sourceMappingURL=phone.css.map */